<div class="container-fluid">
  <div class="row">
    <div class="col-md-9" id="svg_pane">  </div>
    <div class="col-md-3" id="query_pane">
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row"><h3>Select start and end dates:</h3></div>
      <div class="form-group">
        <div class="input-group date" id="datetimepicker_min">
          <input type="text" class="form-control" />
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group date" id="datetimepicker_max">
	  <input type="text" class="form-control" />
	  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
	  </span>
        </div>
      </div>
      <div class="btn-group">
	<button class="btn btn-success" id="run_query_button">Submit</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
  $("#datetimepicker_min").datetimepicker();
  $("#datetimepicker_max").datetimepicker();
  $("#datetimepicker_min").on("dp.change",function (e) {
  $("#datetimepicker_min").data("DateTimePicker").setMinDate(e.date);
  });
  $("#datetimepicker_max").on("dp.change",function (e) {
  $("#datetimepicker_max").data("DateTimePicker").setMaxDate(e.date);
  });
  });
</script>
